{% extends 'base.html'%}

{%block title%}
Главная страница
{% endblock %}

{%block body%}

<div class="col-lg-6 col-md-8 mx-auto" align="left">
    <h1 align="left">Список продуктов</h1>
    {% for el in products %}
    <div class="alert-info">
        <p>{{el.name}}  {{el.date.date().strftime('%d.%m.%Y')}}  {{el.death_date.date().strftime('%d.%m.%Y')}} </p>
        <a href="/{{id}}/products/{{el.id}}/del" class="btn btn-danger">Удалить</a>
    </div>
    {%endfor%}
    <a href="/{{id}}/add-product" class="btn btn-primary my-2" >Добавить продукт</a>
</div>
{% endblock %}