<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <title>Вход</title>
</head>
<body>
<div class="container mt-5">
    <h1>Добавить продукт</h1>
    <form method="post">
        <label for="login" style="color:red"><b>Неверный логин, попробуйте еще раз</b></label>
        <input type="text" name="login" class="form-control" placeholder="Введите логин" value="{{login}}"> <br>
        <input type="submit" class="btn btn-success" value="Войти"> <br>
        <a href="/registration" class="btn btn-success">Зарегистрироваться</a>

    </form>
</div>
</body>
</html>